@inherits UmbracoViewPage<PravaStranaUlice.Models.AboutUs>



	<main class="main">
		@if(!string.IsNullOrEmpty(Model.PageTitle)) {
			<h1 class="sr-only">@Model.PageTitle</h1>
		}

		@if (Model.BannerImage != null)
		{
			<div class="banner">
			@if (!string.IsNullOrEmpty(Model.BannerImage.Url))
			{
				<div class="banner-img cover-bg" style="background-image: url('@Model.BannerImage.Url');"></div>
			}
			<div class="banner-content">
			<h2 class="h1">Suspendisse sed sollicitudin mauris</h2>
			@if (Model.BannerLink != null)
			{
				<a class="btn" href="@Model.BannerLink.Url">@Model.BannerLink.Name</a>
			}
			<div class="banner-social-links">
			@if (Model.Settings.FacebookLink != null)
			{
				<a href="@Model.Settings.FacebookLink.Url" target="_blank" title="@Model.Settings.FacebookLink.Name">
					<span class="icon font-ico-facebook"></span>
					<span class="sr-only">Facebook</span>
				</a>
			}
			@if (Model.Settings.InstagramLink != null)
			{
				<a href="@Model.Settings.InstagramLink.Url" target="_blank" title="@Model.Settings.InstagramLink.Name">
					<span class="icon font-ico-instagram"></span>
					<span class="sr-only">Instagram</span>
				</a>
			}
			@if (Model.Settings.YoutubeLink != null)
			{
				<a href="@Model.Settings.YoutubeLink.Url" target="_blank" title="@Model.Settings.YoutubeLink.Name">
					<span class="icon font-ico-youtube"></span>
					<span class="sr-only">YouTube</span>
				</a>
			}
				</div>
			</div>
		</div>
		}

		<div class="module-about-us cover-bg" style="background-image: url('/../images/content/about-us-bg.jpg')">
			<div class="wrap">
				@if(!string.IsNullOrEmpty(Model.PageTitle))
				{
					<h2 class="centered">@Model.PageTitle</h2>
				}
				<div class="about-columns">
					<div class="about-video">
						<iframe width="560" height="315" src="@Model.EmbedVideo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
					<div class="about-description">
						@Html.Raw(Model.IntroText)
					</div>
				</div>
			</div>
		</div>
		<div class="founders-content cover-bg" style="background-image: url('/../images/founders-backg.png');">

			<div class="founders">

				<div class="founders-heading">
					<div class="wrap">
						<h1 class="h2">OSNIVAČI</h1>
					</div>
				</div>

				@foreach(PravaStranaUlice.Models.FounderItem founder in Model.FounderItems)
				{
					Html.RenderAction<PravaStranaUlice.Web.Controllers.Surface.NestedContentsController>(c => c.FounderItem(founder), founder);
				}
				
				<div class="our-vision-content">
					<div class="wrap">
						<div class="our-vision-box">
							<div class="our-vision-heading">
								<h1 class="h2">@Model.VisionTitle</h1>
							</div>
							<ul class="bullet-list our-vision-list">
								@Html.Raw(Model.VisionText);
						</div>
					</div>
				</div>
			</div>

		</div>

	</main>
