@inherits UmbracoViewPage<DonationsContentViewModel>
@using PravaStranaUlice.Web.ViewModels.Partials.NestedContent
@using PravaStranaUlice.Web.Controllers.Surface.Partials

<main class="main">
	<h1 class="sr-only"></h1>
	<div class="donation-background cover-bg" style="background-image: url('/images/body-brawny-crossfit-931323.png');">
		<div class="wrap">
			<div class="donation-heading offline-paying">
				<h1 class="h2">@Model.Title</h1>
				<p>@Model.IntroText</p>
				<h1 class="h3">
					@Model.InnerTitle
				</h1>
				@if (Model.Image != null)
				{
					<img src="@Model.Image.Url">
				}
			</div>
			<div class="offline-paying">
				<h2 class="h3">@Model.CollectedFundsText</h2>
				<h3 class="h4">@Model.FundsGoalText</h3>
			</div>
		</div>
		<div class="our-donators" data-page-key="@Model.PageKey">
			<div class="wrap" id="listing">
				<h1 class="h2">@Model.DonatorsTitle</h1>
				@{ Html.RenderAction<ListingController>(c => c.Donators(Guid.Empty, 0), Model.PageKey, 1);}
			</div>
		</div>
	</div>
</main>

<script type="text/javascript">
    $().ready(function () {
        $("#listing").live("click", function () {

            var page = @Model.;

            $.ajax({
                url: '@Url.Action("PersonList")',
                data: { "page": page },
                success: function (data) {
                    $("#person-list").html(data);
                }
            });
        });
    });
</script>
