@inherits UmbracoViewPage<PravaStranaUlice.Models.ExerciseType>

<main class="main">
	<div class="workout-tutorial cover-bg" style="background-image: url(/../images/content/how-to-work-bg.jpg)" alt="">
		<div class="wrap">
			@if (!string.IsNullOrEmpty(Model.Parent.Name))
			{
				<h2 class="centered">@Model.Parent.Name</h2>
			}
			@if (!string.IsNullOrEmpty(Model.PageTitle))
			{
				<h3 class="centered">@Model.PageTitle</h3>
			}
				<div class="workout-picker">
					@foreach ( var item in Model.ExerciseSubtypes.Cast<ExerciseSubtype>())
					{
						<div class="workout-item">
							<a class="btn select-btn select-btn-active"  href="javascript:;">@item.Title</a>
						</div>
					}
				</div>

				<div class="workout-steps" id="exerisetype-container" data-url-controller="@PravaStranaUlice.Web.Controllers.Surface.ListingController.ListExerciseStepsUrl" data-page="@Model.Id">


					@foreach (var tabitem in Model.ExerciseSubtypes.Cast<ExerciseSubtype>())
					{
						foreach (var step in tabitem.ExerciseSteps.Cast<ExerciseStep>())
						{
							Html.RenderAction<PravaStranaUlice.Web.Controllers.Surface.NestedContentsController>(c => c.ExerciseStep(step), step);
						}
					}

			<div class="video-unavailable cover-bg" style="background-image: url(/../images/content/video-unavailable.jpg)">
				<div class="text-holder">
					<span>Učestvuj u snimanju tutorijala za sklekove!</span>
					<a class="btn" href="javascript:;">Prijavi se!</a>
					<div class="conditions">
						<span class="conditions-heading">Napomena!</span>
						<span class="conditions-heading">Uslovi za učestvovanje u snimanju tutorijala:</span>
						<div class="conditions-list">
							<span>*SW atleta mora imati pozadinu pobeda u ovoj disciplini na SW takmičenjima (prednost je pobeda u inostranim takmičenjima)</span>
							<span>*Snimanje se održava u Novom Sadu</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</main>

