@inherits UmbracoViewPage<PravaStranaUlice.Web.ViewModels.HeaderViewModel>
<header class="header" role="banner">
    <div class="header-upper">
        <div class="wrap">
            @{
                Html.RenderAction<PravaStranaUlice.Web.Controllers.Surface.ListingController>(c => c.ListLanguages());
            }
            <a class="header-links donations-link" href="@Model.Settings.FeaturedLink.Url" title="@Model.Settings.FeaturedLink.Name">@Model.Settings.FeaturedLink.Name<span class="icon font-ico-user"></span></a>
        </div>
    </div>
    <div class="wrap">
        @if (!string.IsNullOrEmpty(Model.Settings.SiteName) && (Model.Settings.HeaderLogo != null))
        {
            <a class="logo" href="@Model.HomeUrl" title="@Model.Settings.SiteName">
                <img src="@Model.Settings.HeaderLogo.Url" alt="">
            </a>
        }
        <nav class="main-nav">
            <ul role="menubar">
                @{
                    Html.RenderAction<PravaStranaUlice.Web.Controllers.Surface.ListingController>(c => c.ListHeaderLinks());
                }
            </ul>
        </nav>
    </div>
</header>